$maxMobile:"(max-width:767px)";
$minMobile:"(min-width:768px)";
$minmedium:"(min-width:992px)";
$minlarge:"(min-width:1200px)";
$maincolor:#e2494c;
$secondcolor:#9c9c9c;
$float-left:left;
$float-right:right;
$text-right:right;
$text-left:left;