*
{
   @include prefixer(box-sizing,border-box,webkit moz o);
}


.container
{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media #{$minMobile}
    {
        width: 720px;
    }
      @media #{$minmedium}
    {
        width: 960px;
    }
       @media #{$minlarge}
    {
        width: 1140px;
    }
}
.clearfix
{
    clear: both;
}
.text-center-xs
{
    @media #{$maxMobile} {
        text-align: center;
    }
}